body{
    background-color: black;
    color:azure;
    
}

h1{
    text-align:center;
}

.container{
    display:flex

}

img{
    height: 250px;
    width:250px;
    object-fit:cover;
    border-radius:50%;
    

}
